.ecommerce__link {
  color: $primaryColor;
}

.ecommerce__label {
  @extend .labelVideoGallery;
}

.ecommerce__description {
  opacity: 0;
}

.card {
  &--size {
    width: 100%;
  }
  &-title {
    @extend .card__title;
  }
  &__description {
    color: white;
  }
  &__body {
    display: grid;
  }
  &__button {
    justify-self: right;
  }
}

@media (min-width: $widthScreenMedium) {
  .ecommerce__description {
    color: white;
    opacity: 1;
    &--size {
      font-size: 1rem;
    }
  }
  .card {
    &__ecommerce {
      box-shadow: none;
    }
    &__article {
      width: 100%;
      backface-visibility: hidden;
      cursor: pointer;
      transition: transform 0.4s;
      border: $primaryColor;
      border-width: 1px;
      border-style: solid;
    }
    &__body {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $fourthColor;
      backface-visibility: hidden;
      cursor: pointer;
      transition: transform 0.4s;
      transform: perspective(800px) rotateX(-180deg);
      border: $primaryColor;
      border-width: 1px;
      border-style: solid;
    }
  }

  .card:hover .card__article {
    transform: perspective(800px) rotateX(180deg);
  }

  .card:hover .card__body {
    transform: perspective(800px) rotateX(0);
  }
}
