form fieldset label {
  color: #a4abae;
  font-weight: bold;
}

form fieldset legend {
  color: #ffc900;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

/* Contacto */
.form__contact {
  margin: 6.7rem;
}

.form__content {
  display: grid;
  justify-content: center;
}

.form__legend {
  @extend .labelVideoGallery;
  text-align: center;
}

.col__form1 {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.col__form1 label {
  text-align: center;
}

.col__form2 {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.col__form2 label {
  text-align: center;
}

.col__form3 {
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.col__form3 input {
  margin: 5px;
}
