/* Contacto */
.form__contact {
  margin: 6.7rem;
}

.form__content {
  display: grid;
  justify-content: center;
}

.form__legend {
  @extend .labelVideoGallery;
  text-align: center;
}

.form__label {
  color: #a4abae;
  font-weight: bold;
  text-align: center;
}

.col__form1 {
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.col__form2 {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.col__form3 {
  width: 50%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.form__button {
  margin: 5px;
}
