/* Servicios */
.labelFeatures {
  @extend .labelVideoGallery;
}
.tableServices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tableProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-left: 20%;
}

.tableProduct h3 {
  margin: 2rem;
  text-align: center;
  color: #ffc900;
  text-transform: uppercase;
}

.tableProduct p {
  margin: 2rem;
  text-align: center;
  color: white;
}

.tableExtension {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tableExtension h3 {
  margin: 2rem;
  text-align: center;
  color: #ffc900;
  text-transform: uppercase;
}

.tableExtension p {
  margin: 2rem;
  text-align: center;
  color: white;
}

.tableFeatures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-right: 20%;
}

.tableFeatures h3 {
  margin: 2rem;
  text-align: center;
  color: #ffc900;
  text-transform: uppercase;
}

.listFeatures {
  width: auto;
  height: 9%;
  color: white;
  margin: 2rem;
  list-style-position: inside;
}
