/* Servicios */
.card__service {
  min-width: 350px;
}

.labelFeatures {
  color: #ffc900;
  text-transform: uppercase;
  font-size: $h1Size;
  text-decoration: underline;
}

.card__subtitle {
  text-align: center;
  color: #ffc900;
  text-transform: uppercase;
}

.col__services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.listFeatures {
  width: 100%;
  color: white;
  list-style-type: none;
  display: inline;
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .col__services,
  .card__subtitle {
    font-size: 0.9rem;
  }
}

@media (max-width: 474.98px) {
  .col__services,
  .card__subtitle {
    font-size: 0.7rem;
  }
}
