<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- SEO -->
    <link rel="shortcut icon" href="../../assets/imagenes/Logo AD.png" type="Logo Aerial Drone">
    <meta name="description" content="Glaería de vídeo y fotografía aérea con sistemas aéreos no tripulados equipados con cámaras de 4K">
    <meta name="keywords"  content="Drone, UAS, VANT, RPA, RPAS, SIG, cartografía, foto, fotografía, video, aéreo, ortomosaico, ortofoto, galería">
    <!-- SEO -->
    <title>Aerial Drone | Galería</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <header class="sticky-lg-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light navbar--color">
        <div class="container navbar__menu">
          <a class="navbar-brand navbar__link col-lg-2 d-flex justify-content-center" href="../../index.html">
            <img
              src="../../assets/imagenes/Logo AD.png"
              alt="Logo de la empresa AERIAL DRONE"
              width="120"
              class="navbar__image"
            />
          </a>
          <div class="container d-flex flex-column col-lg-3 navbar__text">
            <a class="navbar-brand text-center fs-2 fw-bold navbar__text-link navbar__text-link--primary" href="../../index.html">AERIAL DRONE</a>
            <a class="navbar-text text-center fs-5 fw-bold navbar__text-link navbar__text-link--secondary">SOLUCIONES AÉREAS</a>
          </div>
          <button
            class="navbar-toggler button button--background"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon button__icon"></span>
          </button>
          <div class="collapse navbar-collapse col-lg-7 text-center list fs-6 fw-bold text-uppercase" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 list__u">
              <li class="nav-item list__item">
                <a
                  class="nav-link list__link" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link list__link" href="../../layout/galeria">Galería</a>
              </li>
              <li class="nav-item">
                <a class="nav-link list__link" href="../../layout/servicios">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link list__link" href="../../layout/comprar">Comprar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link list__link" href="../../layout/contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="main">
      <div class="container containerPhotos">
        <h1 class="labelPhotoGallery">Galería de fotografías</h1>
        <!-- Carousel -->
        <div id="demo" class="carousel slide rowPhotoGallery" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active button-1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="button-2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="button-3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3" class="button-4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4" class="button-5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5" class="button-6"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0047.jpg" alt="Bahia Santa Marta" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0327.jpg" alt="Laguna Negra" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0724.jpg" alt="Fotografía aérea de ciudad en la noche" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0985.jpg" alt="Playa del Muerto - Parque Tayrona" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0343.jpg" alt="Paramo a 4100 msnm" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="../../assets/imagenes/carousel/gallery/DJI_0715.jpg" alt="Fotografía aérea cenital de ciudad en la noche" class="d-block w-100">
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
        <div class="container">
          <div class="row">
            <h3 class="labelVideoGallery">Galería de videos</h3>
          </div>
          <div class="container containerVideos">
            <div class="row rowVideos">
              <div class="mb-3 col-12 col-xl-5 text-center">
                <iframe
                  width="450px"
                  height="270px"
                  src="https://www.youtube.com/embed/OpmweVOdX8E"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <div class="mb-3 col-12 col-xl-5 text-center">
                <iframe
                  width="450px"
                  height="270px"
                  src="https://www.youtube.com/embed/nKJsE-WXT8E"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="text-center text-lg-start bg-light text-muted footer">
      <!-- Section: Social media -->
      <section
        class="
          d-flex
          justify-content-center justify-content-lg-between
          p-4
          border-bottom
          footer__section
        "
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block footer__text footer__text--third">
          <span>Conecta con nuestras redes sociales:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a
            href="https://www.facebook.com/aerialdronerisaralda"
            class="me-4 text-reset"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/aerialdronerisaralda/"
            class="me-4 text-reset"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://www.youtube.com/channel/UCioW3TB8Ka9srrUCHUE_DLA"
            class="me-4 text-reset"
            ><i class="fab fa-youtube"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="footer__section">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4  footer__text footer__text--primary">
                <i class="fab fa-squarespace"></i></i>AERIAL DRONE
              </h6>
              <p class="footer__text fw-bold">
                Compañía de vídeo y fotografía aérea
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4 footer__text footer__text--primary">Contacto</h6>
              <p class="footer__text"><i class="fas fa-home me-3 "></i> Pereira, Risaralda - Colombia</p>
              <p class="footer__text">
                <i class="fas fa-envelope me-3 "></i>
                aerialdronerisaralda@gmail.com
              </p>
              <p class="footer__text"><i class="fas fa-phone me-3 "></i> + 57 317 216 9799</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4 footer__text"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="../../index.html"
          >AERIAL DRONE</a
        >
      </div>
      <!-- Copyright -->
      <!-- Breadcrumb -->
      <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../../index.html" class="breadcrumb__home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Galería</li>
        </ol>
      </div>
      <!-- Breadcrumb -->
    </footer>
    <!-- Footer -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
